@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

*{
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
}

.up{
    margin: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93vw;
    height: 40rem;

}

.text{
    padding-left: 3vw;
    max-width: 30rem;
    font-size: 1.6rem;
}

.ims{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 62%;
}

.ims>img{
    width: 42%;
}

.vuitton{
    background-color: black;
    color: #fff;
    padding-inline: 13px;
    padding-block: 5px;
    border-radius: 10%;
}

.down{
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    gap:2rem;
    padding: 2rem;
    grid-auto-flow: dense;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.number{
    color: #31313182;
    font-weight: bold;
    font-size: 2em;
}

@media (max-width:900px) {
    body{
        align-items: center;
        text-align: center;
    }
    
    .up {
        flex-direction: column;
        width: 93vw;
        height: 85vh;
        padding-inline: 0rem;
    }
    .ims{
        padding-top: 2rem;
        width: 80%;
        height: 100%;

        img{
            height: 90%;
        }
    }
    .text{
        font-size: 1.2rem;
        padding-bottom: 20px;
    }
    .down{
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        grid-template-columns: repeat(400px, 1fr);
        padding-inline: 0rem;

        img{
            width: 80%;
        }
    }
}