body{
    margin: 2vi;
}

.conteiner{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 48vi;
    /* overflow: hidden; */
}

.pages{
    display: flex;
    align-items: center;
    width: max-content;
    height: 100%;

    img{
        width: 48vi;
    }
}

#controls{
    align-self: center;
}

#left img{
    transition: 5s transform ease-in-out;
}

#left:checked + label{
    height: 300px;
}

#left:checked + label img {
    transform: rotate(-180deg);
}