body{
    margin: 2vi;
}

.conteiner{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 48vi;
    overflow: hidden;
}

.pages{
    display: flex;
    align-items: center;
    width: max-content;
    height: 100%;

    img{
        width: 48vi;
    }
}

#controls{
    align-self: center;
}

#left:checked + .pages{
    scroll-margin-left: 50%;
}
