@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

*{
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
}

body{
    background-color: #9C2004;
    overflow-x: hidden;
}

.conteiner {
    width: 100vi;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}
.left {
    width: 45vi;
    height: 70vi;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
}

.elipse{
    position: absolute;
    z-index: -3;
    left: 0rem;
    background-color: transparent;
    width: 95%;
}
.person {
    position: absolute;
    width: 96%;
    left: 0;
    top: 2rem;
}
.cuadro1{
    position: absolute;
    left: 0;
    z-index: -1;
}
.cuadro2{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 3rem;
}
.rigth {
    width: 45vw;
}
.upper {
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    font-size: 2.3rem;
}

h1{
    width: 80%;
    font-size: 7vi;
}
p{
    font-size: 1.7rem;
    padding-bottom: 3rem;
}

.vuitton {
    font-size: 1.5rem;
    background-color: #E5B94B;
    color: black;
    padding-inline: 50px;
    padding-block: 20px;
    border-radius: 30px;
}
.first {
    height: 50%;
}
.second {
    height: 50%;
}
@media (max-width:800px) {
    .conteiner{
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-align: center;
    }
    .upper , .downer{
        margin-bottom: 15rem;
        align-items: center;
        padding-top: 50vi;
    }
    .left{
        width: 85vi;
        margin-bottom: 1rem;
    }
    .cuadro2{
        bottom: -50vi;
    }
    .rigth{
        width: 85vi;
    }
}