@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

*{
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    background-color: #111111;
}

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90vw;
    height: 150vh;
    color: #fff;
    gap: 1rem;
}

h1{
    font-size: 7rem;
    margin: 0;
}

.para{
    width: 82%;
    font-size: 2rem;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.block{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.085) 0%, rgba(255, 255, 255, 0.266) 50%, rgba(255, 255, 255, 0.331) 100%);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    border: solid 1px #fff;
    font-size: 1.1rem;
    display: flex;
    gap: 1rem;
    width: 27vi;
    padding-inline: 1rem;
    padding-block: .5rem;
}

@media (max-width:710px) {
    
    h1{
        font-size: 9vi;
    }
    .para{
        font-size: 5vi;
    }
    .grid{
        gap: 1rem;
    }
    .block{
        flex-direction: column;
        font-size: 3.2vi;
        gap: 0;
        width: 40vi;
        align-items: center;
        img{
            width: 25%;
        }
    }
}