@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

*{
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
}
.conteiner {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vi;
    position: relative;
}
.text {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 85vi;
    height: 55vi;
    top: .5rem;
    margin: 0;
    padding: 0;
}
.upper {
    display: flex;
    color: black;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    font-size: 2.3rem;

    h1{
        font-size: 4vi;
        margin: 0;
    }

    p{
        font-size: 1.4vi;
        padding-bottom: rem;
        width: 35vi;
    }
}
.downer{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    p{
        padding: 5vi;
        font-size: 1.03rem;
        width: 35vi;
    }
} 
.vuitton {
    font-size: 1.5rem;
    background-color: black;
    color: #FFF;
    padding-inline: 50px;
    padding-block: 20px;
    border-radius: 30px;
}
.cosas{
    position: relative;
    width: 85vi;
    height: 50vi;
}

.ims{
    gap: 3rem;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;

    img{
        width: 23%;
    }

    img:nth-of-type(1){
        align-self: flex-end;
    }
    img:nth-of-type(3){
        align-self: flex-start;
    }
}

.items{
    position: absolute;
    top: .5rem;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    img:nth-of-type(1){
        align-self: flex-end;
        width: 8%;
    }
    img:nth-of-type(2){
        align-self: center;
        width: 13%;
    }
    img:nth-of-type(3){
        position: relative;
        right: -1rem;
        bottom: 7rem;
        align-self: flex-end;
        width: 13%;
    }
}
.wave{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.5rem;
    width: 100%;

    img{
        width: 19%;
    }
 }

@media (max-width:900px) {
    body{
        width: fit-content;
    }
    .conteiner{
        width: fit-content;
        flex-direction: column-reverse;
        text-align: center;
    }
    .text{
        height: max-content;
        position: relative;
        justify-content: space-around;
    }
    .upper{
        align-items: center;
        height: max-content;

        h1{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.3rem;
            width: 80vi;
        }
    }
    .vuitton{
        font-size: 1.3rem;
        padding-inline: 45px;
        padding-block: 15px;
    }
    .downer{
        display: flex;
        height: max-content;
        flex-direction: column;
        margin-top: 5rem;
        align-items: center;
        
        p{
            padding: 1rem;
            font-size: 1.1rem;
            width: 63vi;
        }
    }
    .cosas{
        position: relative;
        width: 90%;
        height: max-content;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
    .wave{
        top: 3.5vi;
        right: 9vi;
    }
    .ims{
        position: relative;
        gap:.5rem;
        display: flex;
        justify-content: center;
        height: 60vi;

        img{
            width: 30%;
        }
    }
    .items{
        position: absolute;
        top: 0%;
        display: flex;
        justify-content: space-between;
        height: 50vi;

        img:nth-of-type(1){
            align-self: flex-end;
            width: 8%;
        }
        img:nth-of-type(2){
            position: relative;
            align-self: center;
            width: 13%;
            left: -10vi;
        }
        img:nth-of-type(3){
            position: relative;
            right: 16vi;
            bottom: 10vi;
            align-self: flex-end;
            width: 13%;
        }
    }
}